@tailwind base;
@tailwind components;
@tailwind utilities;


#container {
    animation: hover 0.4s linear forwards;
    overflow: hidden;
}

@keyframes hover {
    0% {
        height: 0;
        display: none;
    }

    99% {
        height: 160px;
        display: unset;
    }

    100% {
        height: max-content;
        display: unset;
    }
}
